@{
    ViewBag.Title = "Estadisticas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
<div id="ourCompany-bg"  style="padding:50px; border-bottom:40px;">
<br />
<h2>Estadisticas</h2>
<br />

</div>
</div>