@model qr.Models.Evento

@{
    ViewBag.Title = "Estadisticas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
<div id="ourCompany-bg"  style="padding:50px; border-bottom:40px;">
<br />
<h2>Estadisticas</h2>
<br />
    <form action="" method="post" enctype="multipart/form-data" runat="server">

       

    <select id="Evento" name="Evento">
    @foreach (var p in ViewBag.eventos)
    {
        
        
        <option value="@p.Id">@p.nombre</option>


       
       
    }
         </select>
        <br />
        <input type="submit" class="btn" value="Consultar"/>
        </form>
</div>
</div>