@{
    ViewBag.Title = "Inicio";
}
<br /><br /><br /><br />
<div class="container">
    <div class="row">
        <div class="span6">
            <img src="@Url.Content("~/Content/images/fundacion-logo.png")" alt="Fundacion Logo"/>
        </div>
        <div class="span6">
            <img src="@Url.Content("~/Content/images/qrfundacion.png")" width="180" height="180" alt="Fundacion qr"/>
        </div>
    </div>
</div>
