@{
    ViewBag.Title = "Información";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
<div id="ourCompany-bg"  style="padding:50px; border-bottom:40px;">
<br />
<h2>Información</h2>
<br />


</div>
</div>